Hiistorical_trend_graph.json
[{"id":"ed7169b7.addd78","type":"tab","label":"historical trend grape","disabled":false,"info":""},{"id":"46ed66eb.26ad2","type":"inject","z":"ed7169b7.addd78","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":480,"wires":[["d4668e39.caecf8"]]},{"id":"d4668e39.caecf8","type":"function","z":"ed7169b7.addd78","name":"sql query","func":"msg.topic = \"SELECT DATE,mLux FROM xdk WHERE mLux is not NULL\";\nreturn msg;","outputs":1,"noerr":2,"x":260,"y":480,"wires":[["391cf6c3.015c3a"]]},{"id":"391cf6c3.015c3a","type":"mysql","z":"ed7169b7.addd78","mydb":"288f5ade.7ce27e","name":"light","x":390,"y":480,"wires":[["836c4145.2b418"]]},{"id":"3136a4fc.0a7f9","type":"ui_chart","z":"ed7169b7.addd78","name":"","group":"ccf3a0e8.cfa0b","order":0,"width":"33","height":"5","label":"max44009","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1150,"y":480,"wires":[[]]},{"id":"836c4145.2b418","type":"function","z":"ed7169b7.addd78","name":"send chart array data","func":"var i = 0;\nvar x = [];\nvar y = [];\nvar plolda = msg.payload;\nvar plnew = [];\n\n\nfor(i = 0;i<plolda.length;i++){\n   \n    x[i] = new Date(plolda[i].DATE).getTime();\n\n    y[i] =  plolda[i].mLux;\n\n    plnew[i] = {\"x\":x[i],\"y\":y[i]};\n\n}\n\nmsg.payload = [{\"series\":[\"mLux\"],\"data\":[plnew],\"labels\":[\"\"]}];\n\nreturn msg;","outputs":1,"noerr":2,"x":780,"y":480,"wires":[["3136a4fc.0a7f9"]]},{"id":"83edc476.ba3ce","type":"inject","z":"ed7169b7.addd78","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":540,"wires":[["c518c951.def5b8"]]},{"id":"c518c951.def5b8","type":"function","z":"ed7169b7.addd78","name":"sql query","func":"msg.topic = \"SELECT DATE,mDeg FROM xdk WHERE mDeg is not NULL\";\nreturn msg;","outputs":1,"noerr":2,"x":260,"y":540,"wires":[["e92d593d.e19328"]]},{"id":"e92d593d.e19328","type":"mysql","z":"ed7169b7.addd78","mydb":"288f5ade.7ce27e","name":"temperature","x":410,"y":540,"wires":[["2b062481.ed3338"]]},{"id":"4ac39c3b.e6bdd8","type":"ui_chart","z":"ed7169b7.addd78","name":"","group":"5bc32d0a.2bbb9c","order":0,"width":"33","height":"5","label":"bme280","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"0","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1140,"y":540,"wires":[[]]},{"id":"2b062481.ed3338","type":"function","z":"ed7169b7.addd78","name":"send chart array data","func":"var i = 0;\nvar x = [];\nvar y = [];\nvar plolda = msg.payload;\nvar plnew = [];\n\nfor(i = 0;i<plolda.length;i++){\n    x[i] = new Date(plolda[i].DATE).getTime();\n    y[i] =  plolda[i].mDeg;\n    plnew[i] = {\"x\":x[i],\"y\":y[i]};\n}\n\nmsg.payload = [{\"series\":[\"mDeg\"],\"data\":[plnew],\"labels\":[\"\"]}];\nreturn msg;","outputs":1,"noerr":2,"x":780,"y":540,"wires":[["4ac39c3b.e6bdd8"]]},{"id":"2e53736f.39ee98","type":"mysql","z":"ed7169b7.addd78","mydb":"6ba7493.a1ae278","name":"gyrox","x":395,"y":300,"wires":[["5d41d007.5f92c","240adf60.f7637"]],"l":false},{"id":"73f055f9.d4f0bc","type":"function","z":"ed7169b7.addd78","name":"sql query","func":"msg.topic = \"SELECT DATE,mDegX FROM xdk\";\nreturn msg;","outputs":1,"noerr":2,"x":260,"y":300,"wires":[["2e53736f.39ee98"]]},{"id":"5d41d007.5f92c","type":"function","z":"ed7169b7.addd78","name":"loadintoarray","func":"var i;\nvar x = [];\nvar y = [];\nvar plold = msg.payload;\nvar plnewX = [];\n\n\nfor(i=0;i< plold.length;i++){\n    x[i] = new Date(plold[i].DATE).getTime();\n    y[i] = plold[i].mDegX;\n    plnewX[i] = {\"x\":x[i],\"y\":y[i]};\n}\nmsg.topic = \"mDegX\";\nmsg.payload = plnewX;\nreturn msg;","outputs":1,"noerr":2,"x":570,"y":300,"wires":[["c31a6ba1.ff7328"]]},{"id":"c31a6ba1.ff7328","type":"function","z":"ed7169b7.addd78","name":"gather data","func":"context.data = context.data || {};\n//console.log(context.data);\nswitch (msg.topic) {\n    case \"mDegX\":\n        context.data.lineX = msg.payload;\n        msg = null;\n        break;\n        \n    case \"mDegY\":\n        context.data.lineY = msg.payload;\n        msg = null;\n        break;\n    case \"mDegZ\":\n        context.data.lineZ = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.lineX != null && context.data.lineY != null && context.data.lineZ != null) {\n\tmsg2 = {};\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;\n","outputs":1,"noerr":5,"x":770,"y":360,"wires":[["e54b41ee.9442e"]]},{"id":"457eab6e.7b8f5","type":"function","z":"ed7169b7.addd78","name":"sql query","func":"msg.topic = \"SELECT DATE,mDegY FROM xdk\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["c60a41cb.10d63"]]},{"id":"c60a41cb.10d63","type":"mysql","z":"ed7169b7.addd78","mydb":"6ba7493.a1ae278","name":"gyroy","x":410,"y":360,"wires":[["2b0caad7.6190f6"]]},{"id":"2b0caad7.6190f6","type":"function","z":"ed7169b7.addd78","name":"loadintoarray","func":"var i;\nvar x = [];\nvar y = [];\nvar plold = msg.payload;\nvar plnewY = [];\n\n\nfor(i=0;i< plold.length;i++){\n    x[i] = new Date(plold[i].DATE).getTime();\n    y[i] = plold[i].mDegY;\n    plnewY[i] = {\"x\":x[i],\"y\":y[i]};\n}\nmsg.topic = \"mDegY\";\nmsg.payload = plnewY;\nreturn msg;","outputs":1,"noerr":2,"x":570,"y":360,"wires":[["c31a6ba1.ff7328"]]},{"id":"7b8c9d21.31e71c","type":"inject","z":"ed7169b7.addd78","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":360,"wires":[["73f055f9.d4f0bc","457eab6e.7b8f5","fa00c829.76f068"]]},{"id":"e54b41ee.9442e","type":"function","z":"ed7169b7.addd78","name":"send chart data","func":"msg.payload = [{\"series\":[\"mDegX\",\"mDegY\",\"mDegZ\"],\"data\":[msg.lineX,msg.lineY,msg.lineZ],\"labels\":[\"\"]}];\nreturn msg;","outputs":1,"noerr":2,"x":960,"y":360,"wires":[["f44a8800.0dba38"]]},{"id":"f44a8800.0dba38","type":"ui_chart","z":"ed7169b7.addd78","name":"","group":"51d2c421.88c8bc","order":0,"width":"33","height":"5","label":"bmg160","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1140,"y":360,"wires":[[]]},{"id":"42591637.0dbac8","type":"mysql","z":"ed7169b7.addd78","mydb":"6ba7493.a1ae278","name":"gyroz","x":410,"y":420,"wires":[["6c7c12d4.64bad8"]]},{"id":"fa00c829.76f068","type":"function","z":"ed7169b7.addd78","name":"sql query","func":"msg.topic = \"SELECT DATE,mDegZ FROM xdk\";\nreturn msg;","outputs":1,"noerr":2,"x":260,"y":420,"wires":[["42591637.0dbac8"]]},{"id":"6c7c12d4.64bad8","type":"function","z":"ed7169b7.addd78","name":"loadintoarray","func":"var i;\nvar x = [];\nvar y = [];\nvar plold = msg.payload;\nvar plnewZ = [];\n\n\nfor(i=0;i< plold.length;i++){\n    x[i] = new Date(plold[i].DATE).getTime();\n    y[i] = plold[i].mDegZ;\n    plnewZ[i] = {\"x\":x[i],\"y\":y[i]};\n}\nmsg.topic = \"mDegZ\";\nmsg.payload = plnewZ;\nreturn msg;","outputs":1,"noerr":2,"x":570,"y":420,"wires":[["c31a6ba1.ff7328"]]},{"id":"ea4e01ea.d795f8","type":"function","z":"ed7169b7.addd78","name":"Format chart","func":"var xmin = flow.get('chartprops').xaxis.min; //time back in milliseconds\nvar xmax = flow.get('chartprops').xaxis.max;\nvar d = new Date(Date.parse(xmin)).getTime() //current time in milliseconds - desired time\nvar s = new Date(Date.parse(xmax)).getTime()\ndelete msg.payload;\ndelete msg.topic;\nconsole.log('min---------',d)\n//send all modification in one go\nmsg.ui_control = { \n    options: {\n        scales: {\n            xAxes: [{type: 'time',time: {min: d, max: s}}]\n            //yAxes: [{ticks: {suggestedMin: flow.get('chartprops').yaxis.min, suggestedMax: flow.get('chartprops').yaxis.max}}]\n        }\n    }\n}\nreturn msg; \n\n","outputs":1,"noerr":2,"x":850,"y":300,"wires":[["f44a8800.0dba38","3136a4fc.0a7f9","4ac39c3b.e6bdd8"]]},{"id":"ea58d39.d6b737","type":"ui_text_input","z":"ed7169b7.addd78","name":"","label":"Xmin(YYYY-MM-DDTHH:mm)","tooltip":"","group":"132c5224.45b7c2","order":1,"width":"12","height":"1","passthru":true,"mode":"text","delay":300,"topic":"xmin","x":390,"y":120,"wires":[["869de942.73444"]]},{"id":"869de942.73444","type":"function","z":"ed7169b7.addd78","name":"Store chart options","func":"var chartprops = flow.get('chartprops') || 0;\nif(msg.topic === \"xmin\"){\n    data1 = msg.payload\n    return\n}\nif(msg.topic === \"xmax\"){\n    data2 = msg.payload\n    return\n}\nif(msg.topic === \"save\" && ((data1.length ===16 && data2.length ===16)||(data1.length ===0 && data2.length ===0)) ){\n    chartprops.xaxis.min = data1\n    chartprops.xaxis.max = data2\n}\nreturn msg;\n","outputs":1,"noerr":6,"initialize":"","finalize":"","x":670,"y":160,"wires":[["ea4e01ea.d795f8"]]},{"id":"73a71d41.605128","type":"ui_button","z":"ed7169b7.addd78","name":"","group":"132c5224.45b7c2","order":3,"width":"12","height":"1","passthru":false,"label":"save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"save","x":450,"y":200,"wires":[["869de942.73444"]]},{"id":"f66de38a.fcedd","type":"ui_text_input","z":"ed7169b7.addd78","name":"","label":"Xmax(YYYY-MM-DDTHH:mm)","tooltip":"","group":"132c5224.45b7c2","order":2,"width":"12","height":"1","passthru":true,"mode":"text","delay":300,"topic":"xmax","x":390,"y":160,"wires":[["869de942.73444"]]},{"id":"638e690e.07ce9c","type":"inject","z":"ed7169b7.addd78","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":240,"wires":[["b72e2cd6.47cd78"]]},{"id":"b72e2cd6.47cd78","type":"function","z":"ed7169b7.addd78","name":"init chart options in flow","func":"var chartprops = flow.get('chartprops') || {}\n// set same values as in chart configuration\nchartprops.xaxis = {min:3600000}//time frame\nchartprops.yaxis = {min:0,max:1000}//vertical axis limits\nflow.set('chartprops',chartprops)\n","outputs":1,"noerr":6,"initialize":"","finalize":"","x":630,"y":240,"wires":[[]]},{"id":"240adf60.f7637","type":"debug","z":"ed7169b7.addd78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":240,"wires":[]},{"id":"288f5ade.7ce27e","type":"MySQLdatabase","z":"","name":"","host":"172.21.50.111","port":"3306","db":"test","tz":""},{"id":"ccf3a0e8.cfa0b","type":"ui_group","z":"","name":"Digital light Sensor","tab":"d0f6fc51.d7d3e","order":3,"disp":true,"width":"33","collapse":false},{"id":"5bc32d0a.2bbb9c","type":"ui_group","z":"","name":"Temperature Sensor","tab":"d0f6fc51.d7d3e","order":4,"disp":true,"width":"33","collapse":false},{"id":"6ba7493.a1ae278","type":"MySQLdatabase","z":"","name":"","host":"172.21.50.111","port":"3306","db":"bosch-xdk","tz":""},{"id":"51d2c421.88c8bc","type":"ui_group","z":"","name":"Gyroscope Sensor","tab":"d0f6fc51.d7d3e","order":2,"disp":true,"width":"33","collapse":false},{"id":"132c5224.45b7c2","type":"ui_group","z":"","name":"Graph Scaling","tab":"d0f6fc51.d7d3e","order":1,"disp":true,"width":"12","collapse":false},{"id":"d0f6fc51.d7d3e","type":"ui_tab","z":"","name":"Historical Trend Graph","icon":"dashboard","order":2,"disabled":false,"hidden":false}]