Live_trend_graph.json
[{"id":"a3a4a689.dfe6c","type":"tab","label":"live  trend graph","disabled":false,"info":""},{"id":"d9c11ff2.6351f","type":"inject","z":"a3a4a689.dfe6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":240,"wires":[["26d008a1.a810e8"]]},{"id":"26d008a1.a810e8","type":"function","z":"a3a4a689.dfe6c","name":"sql query","func":"msg.topic = \"SELECT DATE,mLux FROM xdk WHERE mLux is not NULL ORDER BY DATE DESC LIMIT 6 \";\nreturn msg;","outputs":1,"noerr":2,"x":260,"y":240,"wires":[["1205d6a7.b453d1"]]},{"id":"1205d6a7.b453d1","type":"mysql","z":"a3a4a689.dfe6c","mydb":"288f5ade.7ce27e","name":"light","x":390,"y":240,"wires":[["6b80d201.1b7a3c"]]},{"id":"c2e4a53e.4d1698","type":"ui_chart","z":"a3a4a689.dfe6c","name":"","group":"bc7fed8.4b7569","order":0,"width":"33","height":"5","label":"max44009","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1110,"y":240,"wires":[[]]},{"id":"6b80d201.1b7a3c","type":"function","z":"a3a4a689.dfe6c","name":"send chart array data","func":"var i = 0;\nvar x = [];\nvar y = [];\nvar plolda = msg.payload;\nvar plnew = [];\n\nfor(i = 0;i<plolda.length;i++){\n    x[i] = new Date(plolda[i].DATE).getTime();\n    y[i] =  plolda[i].mLux;\n    plnew[i] = {\"x\":x[i],\"y\":y[i]};\n}\nmsg.payload = [{\"series\":[\"mLux\"],\"data\":[plnew],\"labels\":[\"\"]}];\nreturn msg;\n\n","outputs":1,"noerr":2,"x":760,"y":240,"wires":[["c2e4a53e.4d1698"]]},{"id":"4e841943.499a78","type":"inject","z":"a3a4a689.dfe6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":300,"wires":[["db80da0b.2fd258"]]},{"id":"db80da0b.2fd258","type":"function","z":"a3a4a689.dfe6c","name":"sql query","func":"msg.topic = \"SELECT DATE,mDeg FROM xdk WHERE mDeg is not NULL ORDER BY DATE DESC LIMIT 2\";\nreturn msg;","outputs":1,"noerr":2,"x":260,"y":300,"wires":[["5a2c94ca.afc538"]]},{"id":"5a2c94ca.afc538","type":"mysql","z":"a3a4a689.dfe6c","mydb":"288f5ade.7ce27e","name":"temperature","x":410,"y":300,"wires":[["a4577b22.f48288"]]},{"id":"d8016507.19fa08","type":"ui_chart","z":"a3a4a689.dfe6c","name":"","group":"2a7275a3.01eb6a","order":0,"width":"33","height":"5","label":"bme280","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"0","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1100,"y":300,"wires":[[]]},{"id":"a4577b22.f48288","type":"function","z":"a3a4a689.dfe6c","name":"send chart array data","func":"var i = 0;\nvar x = [];\nvar y = [];\nvar plolda = msg.payload;\nvar plnew = [];\n\nfor(i = 0;i<plolda.length;i++){\n    x[i] = new Date(plolda[i].DATE).getTime();\n    y[i] =  plolda[i].mDeg;\n    plnew[i] = {\"x\":x[i],\"y\":y[i]};\n}\n\nmsg.payload = [{\"series\":[\"mDeg\"],\"data\":[plnew],\"labels\":[\"\"]}];\nreturn msg;","outputs":1,"noerr":2,"x":760,"y":300,"wires":[["d8016507.19fa08"]]},{"id":"82de59ae.50da38","type":"mysql","z":"a3a4a689.dfe6c","mydb":"6ba7493.a1ae278","name":"gyrox","x":375,"y":60,"wires":[["46a54836.ce0f64"]],"l":false},{"id":"5e2842b3.a33f1c","type":"function","z":"a3a4a689.dfe6c","name":"sql query","func":"msg.topic = \"SELECT DATE,mDegX FROM xdk ORDER BY DATE DESC LIMIT 60\";\nreturn msg;","outputs":1,"noerr":2,"x":260,"y":60,"wires":[["82de59ae.50da38"]]},{"id":"46a54836.ce0f64","type":"function","z":"a3a4a689.dfe6c","name":"loadintoarray","func":"var i;\nvar x = [];\nvar y = [];\nvar plold = msg.payload;\nvar plnewX = [];\n\n\nfor(i=0;i< plold.length;i++){\n    //console.log(plold[i].DATE)\n    //console.log(typeof plold[i].DATE)\n    \n    x[i] = new Date(plold[i].DATE).getTime();\n    y[i] = plold[i].mDegX;\n    plnewX[i] = {\"x\":x[i],\"y\":y[i]};\n}\nmsg.topic = \"mDegX\";\nmsg.payload = plnewX;\nreturn msg;","outputs":1,"noerr":6,"initialize":"","finalize":"","x":550,"y":60,"wires":[["ea50c37a.d15d48"]]},{"id":"ea50c37a.d15d48","type":"function","z":"a3a4a689.dfe6c","name":"gather data","func":"context.data = context.data || {};\n//console.log(context.data);\nswitch (msg.topic) {\n    case \"mDegX\":\n        context.data.lineX = msg.payload;\n        msg = null;\n        break;\n        \n    case \"mDegY\":\n        context.data.lineY = msg.payload;\n        msg = null;\n        break;\n    case \"mDegZ\":\n        context.data.lineZ = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.lineX != null && context.data.lineY != null && context.data.lineZ != null) {\n\tmsg2 = {};\n    msg2 = context.data;\n    context.data=null;\n\treturn msg2;\n} else return msg;\n","outputs":1,"noerr":5,"x":750,"y":120,"wires":[["3bfb270f.2cd338"]]},{"id":"dbd81ae.cddbbe8","type":"function","z":"a3a4a689.dfe6c","name":"sql query","func":"msg.topic = \"SELECT DATE,mDegY FROM xdk ORDER BY DATE DESC LIMIT 60\";\nreturn msg;","outputs":1,"noerr":2,"x":260,"y":120,"wires":[["b3647e.59541b8"]]},{"id":"b3647e.59541b8","type":"mysql","z":"a3a4a689.dfe6c","mydb":"6ba7493.a1ae278","name":"gyroy","x":410,"y":120,"wires":[["bb96581c.3308b8"]]},{"id":"bb96581c.3308b8","type":"function","z":"a3a4a689.dfe6c","name":"loadintoarray","func":"var i;\nvar x = [];\nvar y = [];\nvar plold = msg.payload;\nvar plnewY = [];\n\n\nfor(i=0;i< plold.length;i++){\n    x[i] = new Date(plold[i].DATE).getTime();\n    y[i] = plold[i].mDegY;\n    plnewY[i] = {\"x\":x[i],\"y\":y[i]};\n}\nmsg.topic = \"mDegY\";\nmsg.payload = plnewY;\nreturn msg;","outputs":1,"noerr":2,"x":550,"y":120,"wires":[["ea50c37a.d15d48"]]},{"id":"1f190b61.e69c81","type":"inject","z":"a3a4a689.dfe6c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":120,"wires":[["5e2842b3.a33f1c","dbd81ae.cddbbe8","b3fd69e5.32316"]]},{"id":"3bfb270f.2cd338","type":"function","z":"a3a4a689.dfe6c","name":"send chart data","func":"msg.payload = [{\"series\":[\"mDegX\",\"mDegY\",\"mDegZ\"],\"data\":[msg.lineX,msg.lineY,msg.lineZ],\"labels\":[\"\"]}];\nreturn msg;","outputs":1,"noerr":2,"x":920,"y":120,"wires":[["aac6531e.6f762"]]},{"id":"aac6531e.6f762","type":"ui_chart","z":"a3a4a689.dfe6c","name":"","group":"4d0aed6b.227cd4","order":0,"width":"33","height":"5","label":"bmg160","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":1100,"y":120,"wires":[[]]},{"id":"1e9955d7.e40002","type":"mysql","z":"a3a4a689.dfe6c","mydb":"6ba7493.a1ae278","name":"gyroz","x":410,"y":180,"wires":[["9382c5ae.f80208"]]},{"id":"b3fd69e5.32316","type":"function","z":"a3a4a689.dfe6c","name":"sql query","func":"msg.topic = \"SELECT DATE,mDegZ FROM xdk ORDER BY DATE DESC LIMIT 60\";\nreturn msg;","outputs":1,"noerr":2,"x":260,"y":180,"wires":[["1e9955d7.e40002"]]},{"id":"9382c5ae.f80208","type":"function","z":"a3a4a689.dfe6c","name":"loadintoarray","func":"var i;\nvar x = [];\nvar y = [];\nvar plold = msg.payload;\nvar plnewZ = [];\n\n\nfor(i=0;i< plold.length;i++){\n    x[i] = new Date(plold[i].DATE).getTime();\n    y[i] = plold[i].mDegZ;\n    plnewZ[i] = {\"x\":x[i],\"y\":y[i]};\n}\nmsg.topic = \"mDegZ\";\nmsg.payload = plnewZ;\nreturn msg;","outputs":1,"noerr":2,"x":550,"y":180,"wires":[["ea50c37a.d15d48"]]},{"id":"288f5ade.7ce27e","type":"MySQLdatabase","z":"","name":"","host":"172.21.50.111","port":"3306","db":"test","tz":""},{"id":"bc7fed8.4b7569","type":"ui_group","z":"","name":"Light Sensor","tab":"a498d06c.c763d8","order":3,"disp":true,"width":"33","collapse":false},{"id":"2a7275a3.01eb6a","type":"ui_group","z":"","name":"Temperature Sensor","tab":"a498d06c.c763d8","order":4,"disp":true,"width":"33","collapse":false},{"id":"6ba7493.a1ae278","type":"MySQLdatabase","z":"","name":"","host":"172.21.50.111","port":"3306","db":"bosch-xdk","tz":""},{"id":"4d0aed6b.227cd4","type":"ui_group","z":"","name":"Gyroscope Sensor","tab":"a498d06c.c763d8","order":2,"disp":true,"width":"33","collapse":false},{"id":"a498d06c.c763d8","type":"ui_tab","z":"","name":"Live trend graph","icon":"dashboard","order":1,"disabled":false,"hidden":false}]