x_axes.json
[{"id":"72ec5fc0.a3176c","type":"tab","label":"x axes","disabled":false,"info":""},{"id":"96a07473.6df718","type":"ui_gauge","z":"72ec5fc0.a3176c","name":"","group":"2cca6c7.1148714","order":1,"width":"0","height":"0","gtype":"gage","title":"Melt Temperature","label":"°F","format":"{{value|number:2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"700","seg2":"900","x":690,"y":430,"wires":[]},{"id":"4355f6aa.eb518","type":"ui_chart","z":"72ec5fc0.a3176c","name":"","group":"12e13f59.ac4e99","order":1,"width":0,"height":0,"label":"Melt Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"awaiting data...","dot":false,"ymin":"0","ymax":"1000","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":690,"y":360,"wires":[[]]},{"id":"fcf9de98.b097","type":"inject","z":"72ec5fc0.a3176c","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":180,"y":400,"wires":[["c5bbcd9.2ed0ef"]]},{"id":"c5bbcd9.2ed0ef","type":"random","z":"72ec5fc0.a3176c","name":"random between 1 - 500","low":"1","high":"500","inte":"false","property":"payload","x":370,"y":400,"wires":[["4355f6aa.eb518","96a07473.6df718"]]},{"id":"dd663d11.a23ba","type":"function","z":"72ec5fc0.a3176c","name":"Format chart","func":"var xmin = flow.get('chartprops').xaxis.min; //time back in milliseconds\nvar xmax = flow.get('chartprops').xaxis.max;\nvar d = new Date(Date.parse(xmin)).getTime() //current time in milliseconds - desired time\nvar s = new Date(Date.parse(xmax)).getTime()\ndelete msg.payload;\ndelete msg.topic;\n\n//send all modification in one go\nmsg.ui_control = { \n    options: {\n        scales: {\n            xAxes: [{type: 'time',time: {min: d, max: s}}]\n            //yAxes: [{ticks: {suggestedMin: flow.get('chartprops').yaxis.min, suggestedMax: flow.get('chartprops').yaxis.max}}]\n        }\n    }\n}\nreturn msg; \n\n","outputs":1,"noerr":2,"x":470,"y":340,"wires":[["4355f6aa.eb518"]]},{"id":"710d6fae.57033c","type":"ui_text_input","z":"72ec5fc0.a3176c","name":"","label":"Xmin(YYYY-MM-DDTHH:mm)","tooltip":"","group":"4fd9f30f.d2b424","order":1,"width":"12","height":"2","passthru":true,"mode":"text","delay":300,"topic":"xmin","x":250,"y":160,"wires":[["6fd7932c.3d3544"]]},{"id":"6fd7932c.3d3544","type":"function","z":"72ec5fc0.a3176c","name":"Store chart options","func":"var chartprops = flow.get('chartprops') || 0;\nif(msg.topic === \"xmin\"){\n    data1 = msg.payload\n    return\n}\nif(msg.topic === \"xmax\"){\n    data2 = msg.payload\n    return\n}\nif(msg.topic === \"save\"){\n    chartprops.xaxis.min = data1\n    chartprops.xaxis.max = data2\n    //console.log(chartprops.xaxis.min)\n    //flow.set('chartprops',chartprops)\n}\nreturn msg;\n","outputs":1,"noerr":6,"initialize":"","finalize":"","x":530,"y":200,"wires":[["dd663d11.a23ba"]]},{"id":"da552bc4.99d3a8","type":"inject","z":"72ec5fc0.a3176c","name":"Resend chart format","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":200,"y":340,"wires":[["dd663d11.a23ba"]]},{"id":"5ee9db1b.4d6a68","type":"comment","z":"72ec5fc0.a3176c","name":"Resend - read comments !","info":"If minimum time is sent to chart, it will be absolute\nChart does not take it as time frame\nSo if change is in minutes, it is reasonable enough\nto send new min value to chart in every minute\nto hold time frame constant","x":210,"y":300,"wires":[]},{"id":"a47d71e3.5ed0d","type":"ui_button","z":"72ec5fc0.a3176c","name":"","group":"4fd9f30f.d2b424","order":3,"width":"12","height":"1","passthru":false,"label":"save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"save","x":310,"y":240,"wires":[["6fd7932c.3d3544"]]},{"id":"abfa35d1.221db8","type":"inject","z":"72ec5fc0.a3176c","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":430,"y":80,"wires":[["3eb20dbe.6ff412"]]},{"id":"3eb20dbe.6ff412","type":"function","z":"72ec5fc0.a3176c","name":"init chart options in flow","func":"var chartprops = flow.get('chartprops') || {}\n// set same values as in chart configuration\nchartprops.xaxis = {min:3600000}//time frame\nchartprops.yaxis = {min:0,max:1000}//vertical axis limits\nflow.set('chartprops',chartprops)\n","outputs":1,"noerr":2,"x":710,"y":80,"wires":[[]]},{"id":"3bb7c525.316416","type":"ui_text_input","z":"72ec5fc0.a3176c","name":"","label":"Xmax(YYYY-MM-DDTHH:mm)","tooltip":"","group":"4fd9f30f.d2b424","order":2,"width":"12","height":"2","passthru":true,"mode":"text","delay":300,"topic":"xmax","x":250,"y":200,"wires":[["6fd7932c.3d3544"]]},{"id":"2cca6c7.1148714","type":"ui_group","z":"","name":"Dashboard","tab":"19941753.ab7f51","order":1,"disp":true,"width":"4","collapse":false},{"id":"12e13f59.ac4e99","type":"ui_group","z":"","name":"Charts","tab":"19941753.ab7f51","order":3,"disp":true,"width":"6","collapse":false},{"id":"4fd9f30f.d2b424","type":"ui_group","z":"","name":"Chart Scaling","tab":"19941753.ab7f51","order":2,"disp":true,"width":"12","collapse":false},{"id":"19941753.ab7f51","type":"ui_tab","z":"","name":"x axes","icon":"dashboard","order":3,"disabled":false,"hidden":false}]